.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
   
  }
}
/* Niko dola edit */
.section-template--18987723784329__form-padding {
  background: rgb(255, 255, 255, 0.025);
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  position: relative;
  isolation: isolate;
  padding: 3rem;
}

.section-template--18987723784329__form-padding::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    135deg,
    transparent 0%,
    rgba(255, 255, 255, 0.03) 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.03) 75%,
    transparent 100%
  );
  border-radius: inherit;
  z-index: -1;
}

.section-template--18987723784329__form-padding::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 0.5px;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  pointer-events: none;
}

section-template input{
  background: transparent !important;
  background-color: transparent !important;
  border: none !important;
  outline:none !important;
}

.field__input{
  outline: none !important;
  border:none !important;
}

.facets__header{
  background: black !important;
}